// Импортирование обнуляющего стиля css
@import "nullstyle.scss";
// Импорт шрифтов из Google fonts.  https://fonts.google.com/

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
// font-family: 'Poppins', sans-serif;

body {
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    // scroll-behavior: smooth;
}
.wrapper {
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 100px;
}

.main {
    width: 100%;
    margin: 0 auto;
}

.header {
    height: 100px;
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    z-index: 10;
    position: fixed;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        max-width: 1600px;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    &__logo {
    }

    &__navbar {
    }

    &__link {
        text-transform: capitalize;
        line-height: 28px;
        font-size: 18px;
        color: #242f51;
    }

    &__burger-button {
        display: none;
    }
}

.navbar {
    ul {
        display: flex;
        align-items: center;
    }

    li {
        margin-left: 25px;
        cursor: pointer;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 3px;
            background: lightcoral;
            bottom: 0;
            left: 0;
            opacity: 0;
            transition: all 0.2s ease-in-out;
            transform: translateX(-100%);
        }

        &:hover {
            &::before {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    color: #fcae61;

    & span:last-child {
        color: black;
    }
}

.comercial {
    display: inline-block;
    text-transform: capitalize;
    color: white;
    width: 170px;
    line-height: 57px;
    max-height: 57px;
    text-align: center;
    background-color: #2500f9;
    border-radius: 28.5px;
}

.title {
    font-size: 40px;
    line-height: 58px;
    font-weight: 600;
    color: #242f51;
}

.subtitle {
    line-height: 26px;
    color: #616368;
}

.top {
    width: 100%;
    min-height: 660px;
    max-height: 100%;
    display: flex;
    background-image: url(../img/Main_Back.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    // display: none;

    &__container {
        margin: 0 auto;
        padding: 30px;
        width: 100%;
        max-width: 1100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-image: url("../img/phone_greetings.png");
        background-position: center right;
        background-repeat: no-repeat;
        background-size: contain;
    }

    &__info {
        padding: 10px;
        border-radius: 20px;
        max-width: 550px;
        background-color: rgba(255, 255, 255, 0.9);
    }

    &__achievement {
        padding-left: 50px;
        width: 100%;
        max-width: 360px;
        line-height: 35px;
        background-color: #e2eaed;
        border-radius: 17.5px;
        position: relative;
        margin-bottom: 25px;

        &::before {
            content: "OK";
            position: absolute;
            color: white;
            background: #feaa25;
            border-radius: 17.5px;
            left: 0vmax;
            width: 37px;
            line-height: 35px;
            text-align: center;
        }
    }

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        margin-bottom: 25px;
        text-align: left;
        display: inline-block;
    }

    &__links {
        width: 100%;
        max-width: 400px;
        display: flex;
        flex: 1 1;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
}

.link {
    color: #2500f9;
    text-transform: capitalize;
}

.companies {
    width: 100%;
    max-height: 600px;

    &__container {
        max-width: 1600px;
        padding: 30px;
        height: 100%;
        margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__title {
    }

    &__list {
    }

    &__company {
        display: inline-block;
        margin: 20px;
    }
}

.apps-features {
    margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    // display: none;

    &__container {
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/phone_search.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }

    &__info {
        max-width: 50%;
        padding: 20px;
        width: 100%;
        background: rgba(255, 255, 255, 0.7);
    }

    &__title {
        width: 60%;
    }

    &__subtitle {
        width: 80%;
    }

    &__features-column {
        width: 80%;
    }
}
.feature {
    display: flex;
    margin-top: 50px;

    &__image {
        align-self: center;
        margin-right: 30px;

        img {
            max-width: 100%;
            width: 100%;
        }
    }

    &__info {
    }

    &__title {
        margin: 10px 0;
        font-size: 20px;
        color: #f55767;
    }

    &__title.red {
        color: #f55767;
    }
    &__title.blue {
        color: #2563ff;
    }
    &__title.green {
        color: #40975f;
    }

    &__subtitle {
        font-size: 16px;
        line-height: 26px;
        font-weight: 400;
        color: #616368;
    }
}

.jackpots {
    margin: 30px auto;
    &__container {
        margin: 0 auto;
        max-width: 1600px;
        width: 100%;
    }

    &__top {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__left {
        font-size: 40px;
        line-height: 50px;
        font-weight: 600;
        color: #242f51;
        text-align: center;
        border-right: solid 2px #bcbbba;

        span {
            display: inline-block;
            text-align: justify;
            width: 70%;
        }
    }

    &__right {
        line-height: 26px;
        color: #616368;
        text-align: center;

        span {
            display: inline-block;
            text-align: justify;
            max-width: 70%;
        }
    }

    &__bottom {
    }

    &__features-row {
        display: flex;
        justify-content: space-around;
    }

    &__feature {
        flex-direction: column;
        flex: 1 1 1;
        align-items: start;
        padding: 0 30px;
        max-width: 320px;
    }

    &__image {
        align-self: start;
    }
}

.designed-build {
    &__container {
        margin: 30px auto;
        padding: 0 20px;
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/main_socials.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }

    &__info {
        display: inline-block;
        max-width: 400px;
        text-align: center;
        max-width: 50%;
        background: rgba(255, 255, 255, 0.7);
        padding: 20px;
    }

    &__title {
        text-align: justify;
        color: #242f51;
    }

    &__subtitle {
        text-align: justify;
        margin: 50px 0px;
    }
}

.choose-app {
    &__container {
        margin: 0 auto;
        padding: 0 30px;
        width: 100%;
        max-width: 1500px;
    }

    &__title {
        width: 100%;
        margin: 50px auto;
        max-width: 500px;
        text-align: center;
    }

    &__subtitle {
        width: 100%;
        max-width: 600px;
        margin: 50px auto;
    }
}
.choose-app-row-apps {
    display: flex;
    justify-content: space-around;
}

.app {
    flex-basis: 25%;
    margin: 20px;

    &__image {
        text-align: center;
    }

    &__title {
        text-align: center;
        font-size: 20px;
    }

    &__subtitle {
        text-align: center;
    }
}

.pricing {
    max-width: 1500px;
    margin: 20px auto;

    &__container {
        margin: 0 auto;
        padding: 0 20px;
        text-align: center;
    }

    &__title {
        max-width: 580px;
        margin: 0 auto;
        text-align: center;
    }

    &__subtitle {
        max-width: 580px;
        width: 100%;
        margin: 50px auto;
        text-align: center;
    }

    &__bottom {
        margin-top: 50px;
        text-align: center;
    }
}

.toggle-button {
    position: relative;
    width: 280px;
    line-height: 58px;
    max-height: 58px;
    border-radius: 28.5px;
    display: flex;
    margin: 10px auto;
    padding: 0 1px;
    justify-content: space-between;

    &__active {
    }

    &.selected {
        color: white;
    }

    &__lighter {
        position: absolute;
        width: 130px;
        height: 52px;
        top: 50%;
        left: 3px;
        transform: translate(0px, -26px);
        background: rgb(97, 100, 252);
        border-radius: 26px;
        transition: transform 0.2s ease-in-out, background 0.2s ease-in-out;
    }

    &__lighter.moved {
        transform: translate(144px, -26px);
        background: tomato;
    }

    span {
        z-index: 2;
        align-self: center;
        width: 130px;
        display: inline-block;
        padding: 0 20px;
        font-weight: 700;
        transition: color 0.2s ease-in-out;
    }
}

.price-list {
    width: 320px;
    max-width: 320px;
    height: 570px;
    margin: 10px;
    border-radius: 9px;
    border: 2px solid white;
    transition: all 0.2s linear;
    display: none;

    &.active {
        display: inline-block;
    }

    &:hover {
        border: 2px solid #ebebeb;
    }
    &.year:hover {
        border: 2px solid gold;
    }

    &__header {
        height: 230px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgb(212, 213, 252) 100%);
        border-radius: 9px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__header.month {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgb(84, 86, 243) 100%);
    }

    &__header.year {
        background: radial-gradient(circle, rgba(255, 217, 0, 1) 40%, rgba(252, 70, 107, 1) 100%);
    }

    &__price {
        margin: 30px 0;
        span {
            &:first-child {
                font-size: 60px;
                line-height: 58px;
                font-weight: 600;
                color: #242f51;
            }

            &:last-child {
                font-size: 18px;
                line-height: 28px;
                color: #999ca5;
            }
        }
    }

    &__title {
        text-transform: capitalize;
        font-size: 20px;
    }

    &__subtitle {
        text-transform: capitalize;
    }

    &__subtitle.month {
        color: white;
    }

    &__options {
        margin: 30px 0;
        li {
            line-height: 48px;
            color: #999ca5;
            text-decoration: line-through;
        }
        .inc {
            color: #2500f9;
            text-decoration: none;
            text-shadow: 4px 4px 2px gold;
        }
    }

    &__button.year {
        background: radial-gradient(circle, rgba(255, 217, 0, 1) 40%, rgba(252, 70, 107, 1) 100%);
        color: black;
    }
}

.team {
    max-width: 1200px;
    margin: 20px auto;
    &__container {
        display: flex;
        justify-content: flex-end;
        background-image: url("../img/mapWithFaces.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: contain;
    }

    &__info {
        flex-basis: 50%;
        padding: 20px;
        background: rgba(255, 255, 255, 0.7);
    }

    &__title {
    }

    &__subtitle {
        margin: 20px 0;
    }

    &__rating {
    }

    &__about {
        font-size: 20px;
        line-height: 58px;
        font-weight: 600;
        color: #242f51;
    }

    &__review {
        line-height: 26px;
        color: #616368;
    }
}
.rating {
}

.banner {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    &__wrapper {
        overflow: hidden;
        width: 270px;
    }

    &__inner-container {
        width: 1080px;
        display: flex;
        font-size: 0px;
        transition: transform 0.3s linear;
        // transform: translateX(-50px);
    }
}

.banner-scrolling-buttons {
    display: inline-flex;
    justify-content: space-evenly;
    align-self: center;
    width: 120px;

    button {
        text-align: center;
        justify-self: center;
        width: 50px;
        height: 50px;
        border-radius: 25px;
        color: blue;
        border: 2px solid #eff3f8;
        font-size: 25px;
        // font-weight: 700;
        transition: transform 0.05s linear;

        &:active {
            transform: scale(0.9);
        }
    }
}

.member {
    display: flex;
    width: 270px;
    justify-content: space-between;
    &__image {
        img {
            max-width: 100%;
        }
    }

    &__info {
        align-self: center;
        padding-left: 10px;
    }

    &__title {
    }

    &__position {
        font-size: 18px;
        line-height: 28px;
        color: #616368;
    }
}

.asked-questions {
    border-bottom: #e5e6e5 2px solid;

    &__container {
        max-width: 1200px;
        text-align: center;
        margin: 90px auto 0px;
    }

    &__title {
    }

    &__subtitle {
        margin: 40px auto;
        max-width: 60%;
    }

    ul {
        width: 100%;
    }

    &__panel {
        text-align-last: left;
        margin: 20px 10px;
    }

    &__question {
        background: #f5f7fa;
        font-size: 20px;
        line-height: 40px;
        font-weight: 600;
        color: #242f51;
        text-align-last: left;
        padding: 5px 30px;
    }

    &__answer {
        line-height: 26px;
        background: #f5f7fa;
        padding: 10px 30px;
        color: #616368;
        text-align: justify;
        transform: translateX(-150%);
        transition: all 0.2s linear;
        visibility: hidden;
        height: 0px;
    }

    &__answer._active {
        height: 100%;
        transform: translateX(0);
        visibility: visible;
        display: block;
    }

    &__button {
        float: right;
        display: block;
        font-size: 20px;
        height: 45px;
        background: none;
        width: 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: rotateZ(40deg);
            background-color: gray;
            width: 60%;
            height: 3px;
            transition: transform 0.2s linear;
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: rotateZ(-40deg);
            background-color: gray;
            width: 60%;
            height: 3px;
            transition: transform 0.2s linear;
        }
    }

    &__button._active {
        &::before {
            transform: rotateZ(-40deg);
        }
        &::after {
            transform: rotateZ(40deg);
        }
    }
}

.download {
    margin: 20px 0px 0;
    padding: 0 20px;
    height: 430px;
    background-image: url(../img/main_beforeFooter.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

    &__container {
        margin: 0 auto;
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    &__title {
    }

    &__subtitle {
        max-width: 600px;
    }

    &__links {
    }
}

.footer {
    min-height: 270px;
    background: #09142e;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    &__logo {
        margin: 10px;
        & span:last-child {
            color: white;
        }
    }

    &__navbar {
        max-width: 700px;
        li {
            display: inline-block;
            text-transform: capitalize;
            line-height: 30px;
            &::before {
                height: 2px;
                background: #fcae61;
            }
        }

        &__links {
        }
    }

    &__socials {
    }

    &__rights {
        opacity: 0.15;
        text-align: center;
        margin: 10px 0;
    }
}
.socials {
    display: flex;

    li {
        margin: 8px;
    }

    a {
        display: inline-block;
        opacity: 0.3;
        transition: opacity 0.2s ease-in-out;

        &:hover {
            opacity: 1;
        }
    }

    img {
        filter: invert(96%) sepia(0%) saturate(7478%) hue-rotate(83deg) brightness(110%) contrast(106%);
        width: 100%;
        max-width: 50px;
        height: 100%;
        max-height: 50px;
    }
}

$breakpoint-tablet: 992px;

@media (max-width: $breakpoint-tablet) {
    body.active {
        overflow: hidden;
    }

    .title {
        font-size: 30px;
        line-height: 38px;
        font-weight: 600;
        color: #242f51;
    }

    .header {
        &__navbar {
            // display: none;
            position: fixed;
            transform: translateY(-150%);
            transition: all 0.2s linear;

            height: 70%;
            left: 0;
            top: 0;
            width: 100%;
            margin-top: 100px;
            background: rgba(255, 255, 255, 0.9);
            ul {
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                width: 100%;
            }

            li {
            }
        }

        &__navbar.active {
            display: block;
            transform: translateY(0);
        }

        &__link {
            font-size: 25px;
        }
    }

    .burger-button {
        height: 20px;
        width: 30px;
        position: relative;
        display: block;
        background: none;

        &__middle-line,
        &::before,
        &::after {
            position: absolute;
            display: inline-block;
            background: grey;
            height: 3px;
            width: 100%;
            top: 50%;
            left: 0;
            transition: all 0.2s linear;
        }

        &__middle-line {
            transform: translateY(-1.5px);
            height: 3px;
            opacity: 1;
        }

        &::before,
        &::after {
            content: "";
            top: 0px;
        }

        &::after {
            top: inherit;
            bottom: 0px;
        }
    }

    .burger-button.active {
        span {
            opacity: 0;
        }

        &::before,
        &::after {
            top: 0px;
        }

        &::after {
            top: inherit;
            bottom: 50%;
            transform: rotateZ(45deg) translateY(1.5px);
        }

        &::before {
            top: 50%;
            transform: rotateZ(-45deg) translateY(-1.5px);
        }
    }

    .apps-features {
        &__container {
            justify-content: center;

            background-image: url("../img/phone_search.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        &__info {
            max-width: 90%;
        }
    }

    .feature {
        &__title {
            font-size: 20px;
        }
    }

    .jackpots {
        &__right {
            display: none;
        }

        &__features-row {
            flex-direction: column;
            align-items: center;
        }

        &__feature {
        }
    }

    .designed-build {
        &__container {
            justify-content: center;
            background-position: center;
        }

        &__info {
            display: inline-block;
            max-width: 90%;
        }
    }

    .choose-app-row-apps {
        flex-direction: column;
        margin: 30px 0;
    }

    .price-list {
        max-width: 250px;
    }

    .banner {
        flex-direction: column;
    }

    .team {
        margin: 20px auto;
        &__container {
            background-position: center;
        }

        &__info {
            flex-basis: 90%;
        }
    }

    .footer {
        &__navbar {
            ul {
                flex-direction: column;
            }

            li {
                margin-left: 0;
            }
        }
    }
}

// $breakpoint-phone: 767px;
// @media (max-width: $breakpoint-phone){
//     .wrapper {
//         max-width: 750px;
//     }
// }
